@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
	margin: 0;
}
.miama-font{
	font-family: 'Miama', sans-serif;
	font-size: 4.88rem;
	font-weight: 400;
    color: #FFFF;
}
.inter-normal {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"slnt" 0;
}
/* shared style */
.menu-bars {
	display: none;
	color: #fff;
	font-size:30px;
}

body {
	background-color: #111111;
}

main {
	max-width: 90%;
	margin: 0 auto;
}

.section-title {
	color: #FFFF;
	font-size: 3rem;
	font-weight:900;
	margin: .5rem;
}

section p,
.footer-content p {
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	margin: .5rem 0;
}

.btn-transparent {
	font-size: 1.225rem;
	font-weight: 600;
	color: #FFFF;
	padding: 16px 45px;
	border-radius: 42px;
	border: 1px solid rgba(255, 255, 255, 1);
	background: transparent;
}

.btn-tomato {
	background-color: #E6533C;
	font-size: 1.225rem;
	font-weight: 600;
	color: #FFFF;
	padding: 16px 45px;
	border-radius: 42px;
	border: none;
	margin-right: 7px;
}
.btn-tomato:hover{
	color: #e6533c;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 1);
	transition: all 1s linear;
}

/* header style */
/* navbar  style */
.navbar {
	max-width: 90%;
	margin: 35px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-logo h3,
.footer-container h3 {
	color: #E6533C;
	font-style: italic;
	font-weight: 800;
	font-size: 2.25rem;
	margin: 0px;
}

.nav-menu {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 38px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.nav-links {
	display: flex;
	height:46px;
	align-items: center;
	justify-content: center;
	padding: 4px 0;
}

.nav-item {
	list-style: none;
	margin-right: 30px;
}

.nav-link {
	font-size: 1.13rem;
	font-weight: 400;
	text-decoration: none;
	color: #FFFF;
	padding: 8px 20px;
	border-radius: 45px;
	margin-left: 7px;
}

.nav-links .nav-item a.active {
	color: #FFFF;
	background-color: #E6533C;
}

/* Banner style */
.banner {
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.banner-content {
	max-width: 590px;
	padding-left: 3px;
}

.banner-title {
	font-weight:900;
	font-size: 4.74rem;
	color: #FFFF;
	margin: 0;
}

.banner-description {
	font-weight: 400;
	margin: 28px 0;
	color: rgba(255, 255, 255, 0.5);

}

.banner-image {
	max-width: 348px;
	max-height: 580px;
}

.banner-image img {
	width: 100%;
}

#workout-videos-badge {
	position: absolute;
	padding: 14px 22px;
	font-weight: 500;
	border-radius: 12px;
	background: transparent;
	border: 1px solid rgba(69, 34, 34, 0.2);
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 10px rgb(0, 0, 0, 2);
	margin-top: 112px;
	margin-left: -127px;
}

#workout-videos-badge p,
#tutorial-videos-badge p {
	font-size: 13px;
	font-weight: 400;
	color: #FFFF;
}

#videos-number {
	font-size: 2.5rem;
	font-weight:900;
	color: #FFFF;
}

#tutorial-videos-badge {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 18px;
	background: transparent;
	border: 1px solid rgba(69, 34, 34, 0.2);
	border-radius: 12px;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	box-shadow: 0 0 10px rgb(0, 0, 0, 2);
	margin-left: -54px;
	margin-top: -166px;
}

#tutorial-number {
	font-size: 1.5rem;
	color: #FAFAF9;
	font-weight:900;
}

#tutorial-videos-badge .circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #E6533C;
	border: 1px solid #111111;
}

/* habit style */
.habit {
	max-width: 90%;
	padding: 90px 0px;
	margin: 0 auto;
	text-align: center;

}

.habit-content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
	margin-top: 58px;

}

.habit-content .circle {
	height: 200px;
	width: 200px;
	margin: auto;
	overflow: hidden;
	border-radius: 50%;
}

.habit-content .circle img {
	transition: all .5s linear;
	width: 100%;
}

.habit-title {
	font-size: 1.125rem;
	font-weight: 600;
	color: #FFFF;
	margin-top: .5rem;
}

/* Run section style */
.run {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 160px;
	padding: 30px;
	border-radius: 16px;
	background-color: rgba(34, 34, 34, 1);
	box-shadow: 0 4px 0 4px rgba(0, 0, 0, 0.25);
}

.run-content {
	margin-left: 54px;
}

.run-image {
	box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
	max-width: 366px;
}

.run-image img {
	width: 100%;
	border-radius: 18px;
}

/* calculator section  style*/
.calculator-headings {
	text-align: center;
	margin: 88px auto;
}

.bmi {
	display:flex;
	
	gap: 40px;
	padding: 49px 0;
	align-items: center;
	justify-content: space-between;
}
/* bmi chart */
.bmi-chart{
	max-width:310px;
}
.bmi-chart h4, .bmi-calculate h4, .price-details h4{
	font-size: 1.75rem;
	font-weight: 900;
	color: rgba(255, 255, 255, 1);
	padding: .7rem 0;
}
.bmi table {
	text-align: justify;
	border-collapse: collapse;
}

.bmi table td,
.bmi table th {
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 13px;
}

.bmi table th {
	font-size: 1rem;
	color: #FFFF;
	font-weight: 500;
}

.bmi table td {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
}
/* bmi calculate */
.bmi-calculate{
	max-width:100%;
}

.input-form{
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(2, 48.5%);
	gap: 10px;
	margin:2rem 0;
	
	
}
.input-form input, .input-form select{
	padding:13px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	border: none;
	color:rgba(255, 255, 255, 0.6) ;
	
	
}
#activity{
	grid-column: span 2;
}
/* Team Member style */
.team-headings, .Plans-headings{
  text-align: center;
  padding: 20px 0;
}
.team-image-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  padding: 20px;
  margin-bottom: 88px;
}
.member-image{
  max-width: 325px !important;
  max-height: 272px !important;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
}
.member-image img{
  width: 100%;
  display: block;
  
}
.member-details{
  position: absolute;
  bottom: 16px;
  left:19px;

}
.member-details h5 , .price-details h5{
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  font-weight:900;
  margin: 0;
}
.member-details p{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}
/* price & plan */
.plan-cards{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap:24px;
	text-align: center;
	margin-bottom:60px;
	margin-top: 1.25rem;
	
}
 .price-card{
	border-radius:8px;
	max-width:540px !important;
	padding: .5rem;
	background-color: rgba(255, 255, 255, 0.1);
	border: none;
	box-shadow: 2px 3px 5px 0 rgba(230 83 0.1);
}
.price-details h3{
	color:#e6533c;
	font-size: 1.75rem;
	
}
.price-details p{
	border-top:  1px solid rgba(230, 84, 0, 0.396);
	padding: 6px 0;
	
}

/* Footer section style */
footer {
	background-color: rgba(255, 255, 255, 0.1);
	
}

.footer-container {
	max-width:90%;
	display: flex;
	padding: 66px 0;
	margin: 0 auto;
	gap: 100px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-content{
	max-width: 443px;
}

.footer-list {
	max-width:514px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:150px;
}
.list-item{
	max-width:181px ;
}

footer .list-item h5 {
	font-size: 2rem;
	font-weight: 800;
	color: #FFFF;
	margin:5px 0;
	padding: 0;
}

footer .list-item p {
	font-size: 1.375rem;
	color: rgba(255, 255, 255, 0.5);
	margin:.5rem;
}

footer .reserved p {
	text-align: center;
	font-size: 1.25rem;
	color: rgba(255, 255, 255, 0.5);
	padding: 35px 0;
}

/* Resposive for Small device */
@media screen and (max-width:576px) {
	.menu-bars {
		display: block;
	}

	.nav-menu {
		display: none;
	}
    .team-image-container,
	.banner,
	.habit-content,
	.run,
	.bmi,
	.footer-container,
	.footer-list,
	.plan-cards{
		flex-direction: column;
		grid-template-columns: repeat(1, 1fr);
		gap: 24px;
	}
	.banner-title {
		max-width: 285px;
		font-size: 2.25rem;
	}

	.banner-button {
		display: flex;
	}

	.btn-transparent,
	.btn-tomato {
		padding: 14px 18px;
	}

	#workout-videos-badge {
		margin-top: 170px;
		margin-left: -170px;
	}

	#tutorial-videos-badge {
		margin-left: -4px;
		margin-top: -178px;
	}
	 
	
	
	

}